<!DOCTYPE html>
<html>
<head>
  <title>Vuerails</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'hello_vue', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<style>
  html, body {
    height: 100%;
  }
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<div class="relative block h-full" data-behavior="vue">
  <div class="relative flex items-center justify-center h-full">
    <div class="block login-box-container w-5/6 md:w-3/4 xl:w-1/4 ">
      <navbar></navbar>
      <%= yield %>
      <vue_footer></vue_footer>
    </div>
  </div>
</div>
</body>
</html>